h1 {
    text-align: center;
}

.chick, .beef, .sushi{
    border: 1px solid black;
    padding: 5px;
    width:230px;
    height:auto;
    position:static;
    padding:0 0 0 0;
    margin: 1%;
    background-color: gray;
    box-sizing: border-box;

}
.fir, .sec, .thi{
    width: 100px;
    border: 1px solid black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    float:right;
    clear:both;
    text-align: center;
}
.sec{
    color: white;
    background-color: red;
}
.thi{
    background-color: yellowgreen;
}
.fir{
    background-color: pink;
}

@media (min-width: 992px){
    .col-lg-4{
        float: left;
        margin:1%;
}
.col-lg-4   {
    width:31.33%;
}
}
/*medium*/
@media (min-width:768px) and (max-width:991px){
    .col-md-6, .col-md-12{
        float: left;
        margin: 1%;
    }
.col-md-6{
    width: 48%;
         }
.col-md-12{
    width: 98%;
         }
}

@media (max-width: 767px){
    .col-sm-12{
        float: left;
        margin: 1%;
    }
    .col-sm-12{
        width: 98%;
    }
}